DATABASE_URL=postgres://webrtc:webrtc@localhost:5432/webrtc?sslmode=disable
PORT=8080
ALLOWED_CORS=http://localhost:3000,http://localhost:5173
SUPABASE_URL=http://127.0.0.1:54321
SUPABASE_URL_DOCKER=http://host.docker.internal:54321
SUPABASE_SECRET_KEY=
